*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.cdnfonts.com/css/by-the-way');

body{
    background-image: url("../background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    display: flex;
    justify-content: center;
}

.heada{
    /* margin-top: 0.8rem; */
    margin: 0.4rem;
    font-size: 2.4rem;
    font-family: 'By the way', sans-serif;
    text-align: center;
    color: #c45353;
}

::-webkit-scrollbar {
    width: 0.1rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}
 
 .logo{
    /*center*/
     display: block;
     margin: 0; 
     width: 4rem;
     height: 4rem;
 }



.containerformiddleimg{
    border-radius: 1rem;
    max-width: 60rem;
    background-image: url("../alone1.jpg");
    border: 0.2rem solid black;
    opacity: 0.6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    height: 80vh;
    padding: 0.2rem;
    overflow-y: auto;

}
.message{
    font: 15px 'Open Sans', sans-serif;
    /* width: 15rem;
    padding: 0.9rem;
    margin: 1rem 3rem; */
    /* border: 0.2rem solid white;
    border-radius: 1rem;
    box-sizing: border-box; */
}

.left{
    background-color: pink;
    float:left;
    clear: both;
    width: 11rem;
    padding: 1.5rem;
    margin: 1rem 3rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    border: 0.2rem solid white;
    border-radius: 1rem;
    box-sizing: border-box;
    font-weight: bolder;
    
}


.right{
    background-color: pink;
    float:right;
    clear: both;
    width: 11rem;
    padding: 1.5rem;
    text-align: justify;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin: 1rem 3rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    box-sizing: border-box;
    font-weight: bolder;
}

.center{
    padding: 0.45rem;
    padding-bottom: 1rem;
    clear: both;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: 'By the way',futura;
    color:#ffffff;
    font-style: italic; 
    font-weight: bolder;
    text-align: center;
}



#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 98.5rem;
    width: 100%;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send{
  margin: 0 auto;
  max-width: 90rem;
  padding: 0rem 3rem;
}

#messageinp{
    border: 0.1rem solid red;
    height: 2.2rem;
    border-radius: 1rem;
    appearance: none;
    font-family: cursive;
    text-align: center;
    font: 1.8rem 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 40rem;
    background-color: rgba(155, 5, 5, 0.63);
    box-shadow: none;
    margin: 0;
    
}

.btn {
    width: 17%;
    margin: 0.5rem;
    border-radius: 2rem;
}

.footer{
    text-align:center;
    color: #f18a4ea9;
    padding-bottom:0.2rem;
    font-size:1rem;
    margin-bottom:0;
  }


@media(max-width: 40rem) {
    html {
        font-size: 55%;
    }
}
@media(max-width: 56rem)
{
    html{
        font-size: 55%
    }
}

